<!-- Bulk Inventory -->
<input type="hidden" name="inv_type" value="{{ inv_type }}"><input type="hidden" name="inv_parameter" value="{{ inv_parameter }}">
<input type="hidden" name="start" value="{{ start }}"><input type="hidden" name="end" value="{{ end }}">
<tr>
    <th>Object name</th><td class="objname"><input class="objname" type="text"  size="60" name="name.user"></td>
</tr>
<tr>
  <th>Count</th><td class="veryshortinput"><input class="veryshortinput" type="text" name="count.user"></td>
</tr>
{% if fieldset == 'keyinfo' %}
  <tr>
    <th>Field Collection Place</th><td class="zcell"><input class="xspan" type="text" size="60" name="fcp.user" source="postgres"></td>
  </tr>
  <tr>
    <th>Cultural Group</th><td class="zcell"><input class="xspan" type="text" size="60" name="cult.user" source=postgres"></td>
  </tr>
  <tr>
    <th>Ethnographic File Code</th><td class="zcell"><input class="xspan" type="text" size="60" name="efc.user" source="postgres"></td>
  </tr>
{% elif fieldSet == 'namedesc' %}
  <tr>
    <th>Brief Description</th><td class="zcell"><textarea cols="78" rows="7" name="desc.user"></textarea></td>
  </tr>
{% elif fieldSet == 'registration' %}
  <tr>
    <th>Alternate Number</th><td class="zcell"><input class="xspan" type="text" size="60" name="alt_num.user"></td>
  </tr>
  <tr>
    <th>Alternate Number Types</th><td class="zcell">{% include 'altnum.html' with tag='user' %}</td>
  </tr>
  <tr>
    <th>Field Collector (person)</th><td class="zcell"><input class="xspan" type="text" size="60" name="collector.user" source="postgres"></td>
  </tr>
{% elif fieldSet == 'hsrinfo' %}
  <tr>
    <th>Count Note</th><td class="zcell"><input class="xspan" type="text" size="25" name="count_note.user"></td>
  </tr>
  <tr>
    <th>Field Collection Place</th><td class="zcell"><input class="xspan" type="text" size="50" name="fcp.user" source="postgres"></td>
  </tr>
  <tr>
    <th>Brief Description</th><td class="zcell"><textarea cols="60" rows="4" name="desc.user"></textarea></td>
  </tr>
{% elif fieldSet == 'objtypecm' %}
  <tr>
    <th>Object Type</th><td class="zcell">{% include 'objtype.html' with tag='user' %}</td>
  </tr>
  <tr>
    <th>Collection Manager</th><td class="zcell">{% include 'collmans.html' with tag='user' %}</td>
  </tr>
  <tr>
    <th>Field Collection Place</th><td><input class="xspan" type="text" size="60" name="fcp.user" source="postgres"></td>
  </tr>
{% elif fieldset == 'taxonomy' %}
  <tr>
    <th>Taxon</th><td><input class="xspan" type="text" size="60" name="taxon.user"></td>
  </tr>
  <tr>
   <th>Qualifier</th><td>{% include 'qualifiers.html' with tag='user' %}</td>
  </tr>
  <tr>
    <th>Kind</th><td>{% include 'kinds.html' with tag='user' %}</td>
  </tr>
  <tr>
    <th>Identified By</th><td><input class="xspan" type="text" size="60" name="ident_by.user"></td>
  </tr>
  <tr>
    <th>Institution</th><td><input class="xspan" type="text" size="60" name="tax_inst.user"></td>
  </tr>
  <tr>
    <th>Display Date</th><td><input class="xspan" type="text" size="60" name="date.user"></td>
  </tr>
  <tr>
    <th>Notes</th><td><textarea cols="78" rows="7" name="tax_notes.user"></textarea></td>
  </tr>
{% endif %}