{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "cspace_django_site/css/smoothness/jquery-ui-1.10.3.custom.min.css" %}"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-1.10.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "inventory/js/Inventory.js" %}"></script>
{% endblock %}

{% block loginBtn %}
<div id="user-tools">
    <a href="{% url 'login' %}?next=/pahma_project/inventory/" id="login" class="prettyBtn">{% trans 'Sign in' %}</a>
</div>
{% endblock %}

{% block branding %}
    <h4 class="bannerLeft"></h4>
    <h4 class="bannerRight"></h4>
    <h1 class="bannerTitle" id="site-name">{{ title }}</h1>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form name="inventory_selector" method="post">
        {% csrf_token %}
            <table width="100%">
                <tr>
                    <td>
                        Inventory:
                    </td>
                    <td>
                        <label for="by_location">
                            <input type="radio" name="by_parameter" id="by_location" value="by_location" required {% if inv_parameter != 'by_mus_no' %}checked="checked"{% endif %}>
                            &nbsp;By Location
                        </label>
                    </td>
                    <td>
                        <label for="by_mus_no">
                            <input type="radio" name="by_parameter" id="by_mus_no" value="by_mus_no" required {% if inv_parameter == 'by_mus_no' %}checked="checked"{% endif %}>
                            &nbsp;By Museum Number
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        Type:
                    </td>
                    <td>
                        <label for="inv_ind">
                            <input type="radio" name="inventory_type" id="inv_ind" value="inv_ind" required {% if inv_type != 'inv_bulk' %}checked="checked"{% endif %}>
                            &nbsp;Individual
                        </label>
                    </td>
                    <td>
                        <label for=in_"bulk">
                            <input type="radio" name="inventory_type" id="inv_bulk" value="inv_bulk" required {% if inv_type == 'inv_bulk' %}checked="checked"{% endif %}>
                            &nbsp;Bulk
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        <hr>
                    </td>
                </tr>
                <tr>
                <!-- {{ start }}, {{ end }}-->
                    <td colspan="2">
                        <label for="range_start"> Start:&nbsp;
                            <input type="text" class="cell" name="range_start" id="range_start" source="postgres" required{% if start %} value="{{ start }}"{% endif %}>
                        </label>
                    </td>
                    <td colspan="2">
                        <label for="range_end"> End:&nbsp;
                            <input type="text" class="cell" name="range_end" id="range_end" source="postgres"{% if end %} value="{{ end }}"{% endif %}>
                        </label>
                    </td>
                    <td colspan="2">
                        <label for="fieldset">Fieldset:&nbsp;
                            <select name="fieldset" id="fieldset">
                                {% for fs in fieldsets %}
                                    {% if fs.1 == fieldset %}
                                        <option value={{ fs.1 }} selected>{{ fs.0 }}</option>
                                    {%  else %}
                                        <option value={{ fs.1 }}>{{ fs.0 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                    <td colspan="1"></td>
                    <td>
                        <input name="search" class="save" type="submit" value="Search">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="inventory_results">
        {% if error %}
            {% include 'inv_error.html' %}
        {% elif searched %}
            <form method="post" action="/pahma_project/inventory/update">
            {% csrf_token %}
              <input type="hidden" name="fieldset" value="{{ fieldset }}">
              <table>
            {% if inv_type == 'inv_ind' %}
                <tr>
                    {% for column in headers %}
                        {% if column == 'Brief Description' %}
                            <th style="text-align: center" colspan="2">{{ column }}</th>
                        {% else %}
                            <th>{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% if inv_parameter == 'by_location' %}
                    {% for location, data in locs %}
                        <tr><td colspan="7" class="subheader">{{ location }}</td></tr>
                        {% include 'individual_inventory.html' with totalobjects=data|length %}
                    {% endfor %}
                {% elif inv_parameter == 'by_mus_no' %}
                    {% include 'individual_inventory.html' %}
                {% endif %}
            {%  elif inv_type == 'inv_bulk' %}
                {% include 'bulk_inventory.html' %}
            {% endif %}
                <tr><td colspan="10" style="text-align: center"><input name="update" class="save" type="submit" value="Submit"></td></tr>
              </table>
            </form>
            {% if inv_type == 'inv_ind' %}
                <p style="text-align:center">{{ totalobjects }} object{{ totalobjects|pluralize }} found{% if inv_parameter == 'by_location' %} in {{ totallocations }} location{{ totallocations|pluralize }}{% endif %}.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
  <table width="100%">
    <tbody>
    <tr>
      <td style="vertical-align: middle">Current time: {{ timestamp }}. This is version {{ version }}</td>
      <td style="vertical-align: middle;width: 70px;">powered by </td>
      <td style="text-align: right; width: 160px;"><img src="{% static "cspace_django_site/images/header-logo-cspace.png" %}" height="30px"></td>
    </tr>
    </tbody>
  </table>
{% endblock %}