{% extends fieldwrapper.html %}

{% block searchfields %}
{% for field in searchValues.fields %}
    {% if field|length == 0 %} {# i.e. if BREAK #}
      </tr>
      <tr>
    {% else %}
        <td {% if field.style%} style="{{ field.style }}"{% endif %}>
            <label>{{ field.label }}</label></td>
            {% if field.dropdown %}
            <select id="{{ field }}_qualifier" name="{{ field }}_qualifier">
                {% for option in qualifiers %}
                    <option value="{{option}}"{% if option == searchValues.{{ field }}_qualifier %} selected{% endif %}>{{option}}</option>
                {% endfor %}
            </select>
           {% endif %}
           {% if field.include_child %}
            <label for "{{ field }}_include_child">Include child terms?</label>
            <input type="checkbox" id="{{ field }}_include_child" name="{{ field }}_include_child">
           {% endif %}
        <td>
            <input type="{{ field.type }}" id="{{ field }}" name="{{ field }}" value="{{ searchValues.field) }}"/>
        </td>
    {% endif %}
{% endfor %}
{% endblock %}